{% extends "base.html" %}

{% block content %}
<h1>Our Portfolio</h1>
<p class="lead">Showcasing the properties we proudly manage in Park City, Utah.</p>

<p>(Photos and property details will be added here soon.)</p>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="https://placehold.co/400x250" class="card-img-top" alt="Property 1">
      <div class="card-body">
        <h5 class="card-title">Mountain Retreat</h5>
        <p class="card-text">Luxury rental property with full maintenance service.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <img src="https://placehold.co/400x250" class="card-img-top" alt="Property 2">
      <div class="card-body">
        <h5 class="card-title">Ski-In Chalet</h5>
        <p class="card-text">Managed for short-term rentals and seasonal maintenance.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
